<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Pokedex</title>
  <link rel="icon" type="image/png"
    href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1026px-Pok%C3%A9_Ball_icon.svg.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <section class="pokedex-container">
    <img
      src="https://cdn.dribbble.com/userupload/22333011/file/original-688a28dafe92965cf0a56141591fd446.png?format=webp&resize=400x300&vertical=center"
      alt="Das Icon" class="fixed-icon" />
    <h1 class="fixed-title">Gustavo.dex</h1>

    <div class="main-screen screen-off" id="mainScreen">
      <div class="boot-text" id="bootText">SYSTEM OFFLINE</div>
      <img src="" alt="Pokémon" class="pokemon-image hidden" id="pokemonImage" />
    </div>

    <div class="search-box">
      <input type="text" placeholder="Digite o nome do Pokémon..." id="pokemonName">
    </div>

    <div class="description-box" id="descBox"></div>

    <div class="info-bar" id="infoBar"></div>

    <div class="control-buttons">
      <div class="power-section">
        <button class="btn power-btn on-btn">ON</button>
        <button class="btn power-btn off-btn">OFF</button>
      </div>

      <div class="action-section">
        <button class="btn search-btn" id="searchBtn">SEARCH</button>
      </div>

      <div class="horizontal-buttons">
        <button class="btn arrow left" id="prevBtn"></button>
        <button class="btn arrow right" id="nextBtn"></button>
      </div>
    </div>
  </section>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
